service cloud.firestore {
  match /databases/{database}/documents {

    match /Project/{project} {
       allow read: if true;
       allow update: if resource.data.Creator == request.auth.uid;

      // Applies to writes to existing documents
      allow create: if request.resource.data.Creator == request.auth.uid;

      match /Challenge/{challenge} {
        allow read: if true;
        allow update: if resource.data.User == request.auth.uid;
        allow create: if request.resource.data.User == request.auth.uid
      }
     }

    match /User/{user} {
       allow read: if user == request.auth.uid;
       allow update: if user == request.auth.uid;

      // Applies to writes to existing documents
      allow create: if true;

        match /public/{publicInfo} {
          allow read: if true; allow write: if request.auth.uid == user;
        }
     }

     match /Charity/{charity} {
        allow read: if true;
        allow update: if resource.data.Owner == request.auth.uid;

       // Applies to writes to existing documents
       allow create: if request.resource.data.Owner == request.auth.uid;
      }

   match /Engagement/{engagement} {
      allow read: if true;
      allow create: if request.resource.data.User == request.auth.uid;
      allow delete: if resource.data.User == request.auth.uid;
      allow update: if get(/databases/$(database)/documents/Project/$(resource.data.Project)).data.Creator == request.auth.uid;



      match /Private/{private} {

        allow read: if get(/databases/$(database)/documents/Project/$(private)).data.Creator == request.auth.uid;
        allow write: if request.resource.data.User == request.auth.uid;
      }
    }

    match /Newsletter/{user} {
       allow create;
     }

    match /emailTemplates/{email} {
     allow create;
     allow read: if exists(/databases/$(database)/documents/Admins/$(request.auth.uid))
   }

   match /ProjectReviews/{review} {
      allow read: if true;
      allow create: if request.resource.data.User == request.auth.uid;
    }

    match /UserReview/{review} {
       allow read: if true;
       allow create: if get(/databases/$(database)/documents/Project/$(resource.data.Project)).data.Creator == request.auth.uid;
     }
  }
}
