service cloud.firestore {
  match /databases/{database}/documents {

    match /Project/{project} {
       allow read: if true;
       allow update: if resource.data.Creator == request.auth.uid
       	|| (resource.data.Admin && resource.data.Admin[request.auth.uid])
       ;
       allow delete: if resource.data.Creator == request.auth.uid
       || (resource.data.Admin && resource.data.Admin[request.auth.uid]);

      // Applies to writes to existing documents
      allow create: if request.resource.data.Creator == request.auth.uid;

      match /Challenge/{challenge} {
        allow read: if true;
        allow update: if resource.data.User == request.auth.uid;
        allow create: if request.resource.data.User == request.auth.uid
      }

      match /WaitingList/{id} {
        allow read: if true;
        allow write: if request.resource.data.user == request.auth.uid;
      }
     }

    match /User/{user} {
       allow read: if user == request.auth.uid;
       allow update: if user == request.auth.uid;

      // Applies to writes to existing documents
      allow create: if true;

        match /public/{publicInfo} {
          allow read: if true; allow write: if request.auth.uid == user;
        }
     }

     match /Group/{groupId} {
       allow read: if true;
       allow create: if request.resource.data.Creator == request.auth.uid;
       allow update: if resource.data.Creator == request.auth.uid;
       allow delete: if resource.data.Creator == request.auth.uid;

       match /Members/{userId} {
       	allow read: if true;
        allow write: if true;
       }

       match /Projects/{projectId} {
       	allow read: if true;
        allow write: if true;
       }
     }

     match /Charity/{charity} {
        allow read: if true;
        allow update: if resource.data.Owner == request.auth.uid;

       // Applies to writes to existing documents
       allow create: if request.resource.data.Owner == request.auth.uid;

       match /Subscribers/{subscriberId} {
       		allow read: if request.auth.uid == subscriberId;
          allow write: if request.auth.uid == subscriberId;
        }
      }

   match /Engagement/{engagement} {
      allow read: if true;
      allow create: if true;
      allow delete: if resource.data.User == request.auth.uid;
      allow update: if get(/databases/$(database)/documents/Project/$(resource.data.Project)).data.Creator == request.auth.uid
      || get(/databases/$(database)/documents/Project/$(resource.data.Project)).data.Creator.Admin[request.auth.uid];



      match /Private/{private} {

        allow read: if get(/databases/$(database)/documents/Project/$(private)).data.Creator == request.auth.uid
        	|| get(/databases/$(database)/documents/Project/$(private)).data.Creator.Admin[request.auth.uid];
        allow write: if request.resource.data.User == request.auth.uid;
      }
    }

    match /Newsletter/{user} {
       allow create;
       allow read: if exists(/databases/$(database)/documents/Admins/$(request.auth.uid))
     }

    match /emailTemplates/{email} {
     allow read;
     allow write: if exists(/databases/$(database)/documents/Admins/$(request.auth.uid))
   }

   match /ProjectReview/{review} {
      allow read: if true;
      allow write: if request.resource.data.User == request.auth.uid;

      match /private/{privateId} {

        allow read: if get(/databases/$(database)/documents/Project/$(privateId)).data.Creator == request.auth.uid
        || get(/databases/$(database)/documents/Project/$(privateId)).data.Creator.Admin[request.auth.uid]
        ;
        allow write: if request.resource.data.User == request.auth.uid;
      }
    }

    match /UserReview/{review} {
       allow read: if true;
       allow write: if true;
     }
  }
}
